
    
    <div class="template-wrap clear">
      <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="600px" width="960px"></canvas>
    </div>
    <script type='text/javascript'>
  var Module = {
    TOTAL_MEMORY: 268435456,
    errorhandler: null,			// arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
    compatibilitycheck: null,
    dataUrl: "Development/ShootingMonster.data",
    codeUrl: "Development/ShootingMonster.js",
    memUrl: "Development/ShootingMonster.mem",
    
  };
</script>
<script src="Development/UnityLoader.js"></script>
