﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Item.ascx.cs" Inherits="ShootingZombie_Backend.DesktopModule.Item.Item" %>
<div class="container">
    <h3>Items Game Managerment</h3>
</div>