﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="ShootingZombie.SiteMaster" %>
<%@ Register TagPrefix="zombie" TagName="TopMenuControl" Src="~/Content/Controller/TopMenu.ascx" %>
<%@ Register TagPrefix="zombie" TagName="FooterMenuControl" Src="~/Content/Controller/FooterMenu.ascx" %>
<%@ Import Namespace="ShootingZombie.Content.Logic" %>
<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=Constants.PAGE_TITLE %></title>

    <asp:PlaceHolder runat="server">
    </asp:PlaceHolder>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link href="<%=Page.ResolveClientUrl("~/Content/css/bootstrap.min.css") %>" rel="stylesheet" />
    <link href="<%=Page.ResolveClientUrl("~/Content/css/font-awesome.min.css") %>" rel="stylesheet" />
    <link href="<%=Page.ResolveClientUrl("~/Content/css/kendo.common-bootstrap.min.css") %>" rel="stylesheet" />
    <link href="<%=Page.ResolveClientUrl("~/Content/css/kendo.bootstrap.min.css") %>" rel="stylesheet" />
    <link href="<%=Page.ResolveClientUrl("~/Content/css/style.css") %>" rel="stylesheet" />
    <link href="<%=Page.ResolveClientUrl("~/Content/css/style-mobile.css") %>" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>
    
    <script src="<%=Page.ResolveClientUrl("~/Content/js/jquery-1.12.3.min.js")%>"></script>
    <script src="<%=Page.ResolveClientUrl("~/Content/js/bootstrap.min.js")%>"></script>
    <script src="<%=Page.ResolveClientUrl("~/Content/js/kendo.all.min.js")%>"></script>

    <asp:ContentPlaceHolder ID="MasterPage_Head" runat="server"></asp:ContentPlaceHolder>
</head>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1608688395820822";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <asp:ContentPlaceHolder ID="MasterPage_Top" runat="server"></asp:ContentPlaceHolder>
    <div class="main_wrapper">
        <zombie:TopMenuControl ID="topMenuControl" runat="server"></zombie:TopMenuControl>
        <asp:ContentPlaceHolder ID="MainContent" runat="server">

        </asp:ContentPlaceHolder>
        <zombie:FooterMenuControl ID="footerMenuControl" runat="server"></zombie:FooterMenuControl>
    </div>
        
    <asp:ContentPlaceHolder ID="MasterPage_Footer" runat="server"></asp:ContentPlaceHolder>
</body>
</html>
