﻿/*ul li.active a{
    cursor:default;
    pointer-events:none;
}*/

.sideBar{
    background-color: #f5f5f5;
    bottom:51px;
    border-right: 1px solid #eee;
    display:block;
    left:0;
    position:fixed;
    top:51px;
    padding-left:5;
    padding-right:0;
    padding-top:8px;
}
.sideBar hr{
    border-color:#ccc;
    margin: 12px auto; 
}

