﻿@font-face {
    font-family: "My Font";
    src: url('/Content/css/fonts/yoster.ttf') format("truetype");
}
@font-face{
    font-family: "Font Content";
    src: url('/Content/css/fonts/Game of Thrones.ttf') format("truetype");
}
.logo-title a{
    font-size:20px;
    font-family:'Indie Flower', cursive;
}
html{
    height:100%;
}
body{
    min-height:100%;
    background:url('/Content/images/background.png') 0 0;
    background-repeat:repeat;
    background-size: 120px 120px;
    background-color:#000;
}
html{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
	margin: 0;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
	letter-spacing: 1px;
}
body a:hover{
	text-decoration:none;
}
/*--- Top Menu ---*/
.header {
	padding: 0.4em 3em;
    background: #1d1d1d;
}
.header .navbar-nav{
    margin:0;
    padding-top:5px;
}
.header .navbar-nav > li > a{
    margin:0;
}
.header .nav .open>a{
    background-color:#1d1d1d;
}
.header .navbar-nav > li > a:hover, .header .navbar-nav > li > a:focus{
    background-color:#1d1d1d;
    border:none;
}
.w3layouts_header_left{
	float:left;
}
.w3layouts_header_left p{
    color: #999;
    line-height: 1.8em;
    float: left;
    margin: 0px 42px 0 0;
    font-size:12px;
}
.w3layouts_header_left a {
	 color: #999;
}
.w3layouts_header_right{
    float: right;
    position: relative;
    width: 23%;
}
.w3layouts_header_right a{
    color: #999;
}
.w3layouts_header_right a:hover, .w3layouts_header_right .open > a{
    text-decoration:none;
    color: #dedede;
}

.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.w3_navigation {
    border-top: 1px solid #999;
	position:relative;
    background-color:#fff;
}.navbar-nav {
    float: none;
    margin: 1em 0 1em 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    float: none !important;
    margin-right: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#fa3d03;
    background: none;
}
.navbar-default .navbar-nav > li > a {
    color: #212121;
}
.navbar-nav > li > a {
      margin:1em 2.3em;
    padding: 0;
	line-height: 1em;
	font-weight: bold;
    text-transform: uppercase;
}
.navbar-nav > li:nth-child(3) a {
        margin-right: 31em !important;
}
.navbar-nav > li:nth-child(6) a {
        margin-right:0px!important;
}
.w3_navigation_pos {
    position: absolute;
    /*top: 24%;*/
    left: 34%;
    z-index: 999;
}
.w3_navigation_pos h1{
    margin-top: 12px;
}
.w3_navigation_pos h1 a {
     font-size: 1em;
    color: #212121;
    text-decoration: none;
    /*border: 3px solid #ff5000;*/
    padding: 0.1em .4em;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'My Font', sans-serif;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #fa3d03;
}
.cl-effect-5 a {
	overflow: hidden;
	padding: 0 4px;
}

.cl-effect-5 a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cl-effect-5 a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #2098d1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ff5000;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
  color: white;
}
.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
.slider-info {
    position: absolute;
    top: 40%;
    z-index: 999;
    left: 0px;
    width: 100%;
    height: 100%;
	text-align:center;
}
.slider-info h4 {
    font-size: 3em;
    color: #fff;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 200;
}
.slider-info a {
	font-size:1em;
	padding:0.6em 2em;
	color:#fff;
	}
.slider-info p {
    font-size:1em;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 7px;
    margin: 2em 0;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
       bottom: 24%;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width:32px;
    height:32px;
    background: transparent url("../images/left.png") no-repeat left top;
}
 .callbacks_nav:hover{
  	opacity: 0.5;
  }
.callbacks_nav.next {
  left: auto;
   background: transparent url("../images/right.png") no-repeat right top;
       left: 51%;
 }
 .callbacks_nav.prev {
	right: auto;
	background-position:left top;
	left: 47%;
}
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}

#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  width: 100%;
  }
.login-content{
    margin-left:0px;
    margin-right:0px;
}
.login-content div.error{
    color: #ef4136;
    display:block;
    text-align:center;
}
.btn-submit{
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
    width:100%;
    display:block;
    margin-bottom:10px;
}
.btn-submit:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.error{
    color: #ef4136;
}


    .input-group{ 
  position:relative; 
  margin-bottom:12px; 
  width:100%;
}
input.text{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  color:#000;
  border-bottom:1px solid #00BFFF;
}
input:focus{ outline:none; }
/* LABEL ======================================= */
label.forText {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
}

/* active state */
input.text:focus ~ label.forText, input.text:valid ~ label.forText     {
  top:-20px;
  font-size:14px;
  color:#00bfff;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:100%; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:.5px; 
  position:absolute;
  background:#00BFFF; 
  transition:0.2s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input.text:focus ~ .bar:before, input.text:focus ~ .bar:after {
  width:50%;
}
.side_bar{
    padding:0;
}

.container{
    margin-top:5px;
    color:#fff;
}
.play_link{
    border-radius:10px;
    display:block;
}
.container-newsDetail{
    background-color: #fff;
    box-shadow:rgba(127, 127, 127, 0.1) 0px 6px 6px 6px;
    border-radius:0 0 10px 10px;
}
.container-newsDetail .row{
    margin-left:0;
    margin-right:0;
}
.container-newsDetail .newsDetail-header .newsDetail-title{
    margin-top:15px;
    color: #d62b29;
    font-weight: 700;
    text-transform: uppercase;
}
.container-newsDetail .newsDetail-header .newsDetail-datecreated{
    color: #858585;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 30px 0;
    border-bottom: 1px solid #858585;
    padding: 0 0 15px 0;
}
.newsDetail-content{
    padding:0 20px 10px 20px;
    color:#333;
}
.container-top-newsDetail{
    margin-top:0;
}
.newsDetail-breadcrumb{
    background-color: #35353c;
    margin-bottom:0;
    border-radius:0;
}
.newsDetail-breadcrumb .glyphicon{
    font-size:30px;
    color:#fff;
}
.newsDetail-breadcrumb .breadcrumb{
    margin-bottom:0;
    background-color: #35353c;
}
.newsDetail-breadcrumb .breadcrumb a{
    color:#ececed;
}
.section-top-news{
    float:left;
    margin-bottom:10px;
    padding-bottom:10px;
    border-bottom:1px solid #d7d7d4;
    height:145px;
    width:100%;
}
.section-top-news .top-news-img{
        width:40%;
        float:left;
        margin-right:5px;
}
.section-top-news .top-news-img img{
    width:100%;
    height:100px;
}
.top-news-headline{
    margin-top:4px;
}
.news-content{
    padding-top:15px;
    color:#333;
}
.news-content .row .col-md-6:nth-child(1){
    padding-right:5px;
}
.news-content .row .col-md-6:nth-child(2){
    padding-left:5px;
}
.news-content a{
}
.news-content a:hover{
}
.section-title{
    margin-bottom:0;
    margin-top:0;
}
.news-content .panel-heading{
    padding-bottom:0;
    margin-bottom:5px;
}
.news-content .panel-body{
    padding-top:0;
}
.news-content .panel-heading .section-title{
    border-bottom:3px solid #428bca;
    color:#428bca;
    padding-bottom:7px;
    border-radius:0 0 5px 5px;
}
.section-news-other ul{
    list-style-type:circle;
    list-style-position: inside;
    padding-left: 0px;
}
.newsgroup ul li a{
    color:#fff;
}
.newsgroup ul li a:hover{
    color:#555;
}
.newsgroup ul li.active a{
    color:#fff;
    /*background-color:#35353c;*/
    background-color:transparent;
}
.newsgroup ul li.active a:hover{
    background-color:transparent;
    color:#fff;
}
.category-news-section{
    float:left;
    width:100%;
    height:150px;
    margin-bottom:20px;
}
.category-news-section .category-news-img{
    width:30%;
    float:left;
    height:100%;
    margin-right:15px;
}
.category-news-section .category-news-img img{
    height:100%;
}
.news-category-content{
    padding-left:15px;
    padding-right:15px;
}
.newsDetail-footer{
    margin-top:15px;
}
.relative-newsDetail{
    margin-top:20px;
}
.relative-newsDetail .relative-title{
    border-bottom:1px solid #858585;
}
.relative-newsDetail .relative-title span{
    color: #d62b29;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom:2px solid #d62b29;
    padding-bottom:2px;
    font-size:16px;
}
.relative-content ul{
    list-style-type: square;
    list-style-position:inside;
    padding-left:0;
    line-height:25px;
    margin-top:5px;
}
.relative-newsDetail ul li{
    border-bottom: 1px solid #d1d1d1;
    padding-bottom:10px;
    padding-top:10px;
}
.relative-content ul li:hover{
    padding-left:20px;
    transition:0.3s;
    color: #b71d20;
}
.relative-content a{
    color:#1b1b1f;
    font-size: 14px;
}
.relative-content a:hover{
    color: #b71d20;
}
.fullscreen{
    position:absolute;
    top:50%;
    bottom:50%;
    right:2%;
    display:none;
}
.fullscreen img{
    cursor:pointer;

}

.top_score .top_score_title h3{
    font-size:16px;
    margin-top:10px;
    font-family:'Font Content', sans-serif;
}

.footer_container{
    background: url(../images/background_footer.png) 0 0;
    background-size: 4px 4px;
    background-repeat: repeat;
    position: relative;
    min-width: 320px;
    background-color: #242424;
    border-top: 1px solid #343434;
    padding-bottom:15px;
    margin-top:14px;
    padding-top: 15px;
    /*position: absolute;
    bottom: 0;
    left: 0;
    right: 0;*/
}
.footer_container .footer_leftside{
    color:#fff;
}
.footer_container .footer_leftside h3{
    margin-top:5px;
}
.footer_container .footer_leftside p{
    margin-bottom:6px;
}
.footer_container .footer_leftside .copyright{
    color:#757575;
}
.footer_container .footer_middleside table td{
    padding:6px;
}
.footer_container .footer_middleside, .footer_container .footer_middleside a, .footer_rightside a{
    color:#b6b6b6;
}
.footer_container .footer_middleside a:hover, .footer_rightside a:hover{
    color:#858585;
}
.footer_rightside ul{
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0px;
    color: #b6b6b6;
    line-height:26px;
    font-size:11px;
}
.footer_rightside a:focus{
    text-decoration:none;
}

.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 30px auto;
    background-color:#fff;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 6px 6px 6px;
    border-radius:10px;
        
}
.form-register{
    max-width: 500px;
    padding: 15px;
    margin: 30px auto;
    background-color:#fff;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 6px 6px 6px;
    border-radius:10px;
}

.form-signin-heading {
    margin-bottom: 25px;
    font-size: 2rem;
    text-align:center;
    color:#333;
}

    
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
 
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
 
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}


.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: center;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  width:100%;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
.profile{
    background-color:#fff;
    color:#333;
    border-radius:10px;
    padding-bottom:20px;
}
.profile-top{
    height:85px;
    padding-top:8px;
}
.profile-name, .experience {
    border-right: 1px dashed #ccc;
}
.profile-name, .experience, .gold{
    height:100%;
    border-bottom: 1px dashed #ccc;
}

.profile .profile-avatar{
    width:15%;
    float:left;
}
.profile .profile-avatar img{
    opacity:0.6;
}
.profile-name .profile-username{
    width:85%;
    float:left;
    padding-left:15px;
    font-size:18px;
    font-weight:600;
}
.profile .experience .panel-heading,.profile .gold .panel-heading{
    padding:0;
}
.profile .experience .panel-body,.profile .gold .panel-body{
    padding: 5px 0;
    text-align:center;
}
.profile .experience .panel-body span:first-child{
    background: -webkit-linear-gradient(left,#8E24AA, #E91E63,#FDD835);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:25px;
    font-weight:bolder;
}
.profile .experience .panel-body span:{

}
.profile .gold .panel-body span{
    font-size:25px;
    font-weight:bolder;
    color:#FDD835;
}
.profile-content{
    padding-top:15px;
}
.profile-sideBar{
}
.profile-sideBar ul li a,.profile-sideBar ul li.active a{
    color:#333;
    background-color:#fff;
}
.profile-sideBar ul li.active a:hover, .profile-sideBar ul li.active a:focus,.profile-sideBar ul li a:focus{
    color:#333;
    background-color:#fff;
}
.profile-sideBar ul li.active{
    border-left:solid 5px #929292;
}
.profile-sideBar ul li.active a{
    pointer-events:none;
}
.profile-sideBar ul li{
    border-bottom: solid 1px #ddd;
    height:65px;
}
.profile-sideBar ul li a i{
    float:left;
    display:block;
    margin-right:8px;
}
.profile-sideBar .sideBar-title{
    font-size:14px;
    font-weight:bolder;
}
.profile-sideBar .sideBar-dec{
    font-size:12px;
}
.profile-Content{
    border-left:solid 1px #ddd;
}
